_sigueEstosPasos/* linguist-vendored
doc/* linguist-vendored
Clientes/* linguist-generated
*.py linguist-detectable=true
*.html linguist-detectable=false
*.htm linguist-detectable=false
*.js linguist-detectable=false
